@using Week9_1.BlazorDI.Services;
<h3>WelcomePage</h3>

@inject IToasterService toastService

@code {
	protected override void OnAfterRender(bool firstRender)
	{
		toastService.ShowInfo("Welcome!");

		base.OnAfterRender(firstRender);

	}
}